# 1. BUILT-IN FUNCTIONS

In [1]:
# There are many built-in functions that you can leverage directly 
# Let's define 2 lists x and y
x=[4,5,1,2,8,5]
y=list(range(1,7))

In [2]:
x

[4, 5, 1, 2, 8, 5]

In [3]:
y

[1, 2, 3, 4, 5, 6]

In [4]:
# Let's obtain the length of y
len(y)

6

In [5]:
# Let's obtain the minimum value 
min(y)

1

In [6]:
# Let's obtain the maximum value
max(x)

8

In [7]:
# Let's create a tuple out of the list
x=tuple(x)

In [8]:
x

(4, 5, 1, 2, 8, 5)

In [9]:
type(x)

tuple

In [10]:
# Let's obtain the sum of elements in x
sum(x)

25

**MINI CHALLENGE #1:**
- **Write a code that takes in 2 lists x = [-1 -4 -7] and y = [-3 7 4] and  calculates the absolute sum of all its elements |x+y|**

In [11]:
x=[-1,-4,-7]
y=[-3,7,4]

abs(sum(x+y))

4

# 2. FUNCTIONS

In [12]:
# Let's define a function named "my_function" that does not receive any arguments
# The function simply prints out content and does not return anything
def my_function():
  print('welcome to python for finance')

In [13]:
# Function call
my_function()

welcome to python for finance

In [14]:
# Define a function that takes in argument x and return the squared value 
def square(x):
  return x**2

In [15]:
# Call the function
square(4)

16

In [16]:
# Define a function with default value 
def my_function(amount=0.0):
  print('My total portfolio worth is ={}'.format(amount))

In [17]:
# If you pass an argument to the function, it overwrites the default value 
my_function(60000)

My total portfolio worth is =60000

In [18]:
# If you don't pass an argument, the default value "20000" will be used instead
my_function()

My total portfolio worth is =0.0

**MINI CHALLENGE #2:** 
- **Write a code that takes in two inputs (number of shares and prices) from the user and calculate the total account balance**

In [19]:

def total(x,y):
  print('Total account balanve :{}'.format(x*y))

x=int(input('Number of share:'))
y=int(input('Price :'))
total(x,y)

Number of share:5
Price :500
Total account balanve :2500

# 3. LAMBDA EXPRESSIONS

In [20]:
# Lambda function is used to create a function without a name 
# Lambda functions are mainly used with filter() and map() [they will be discussed later on]. 
# Lambda function can receive any number of arguments, but can only have one expression.

In [21]:
# let's see how to create a basic function that squares the input
def my_function(x):
  return x**2

In [22]:
# Function call
my_function(3)

9

In [23]:
# We can do the same task using Lambda expression
# Note that there is no function name
y=lambda x:x**2

In [24]:
y(3)

9

In [25]:
# Note that lambda expression can take in more than one argument 
# there is only one expression that could be performed
def submission(x,y,z):
  return x+y+z

In [26]:
result=submission(1,2,3)
result

6

In [27]:
result=lambda x,y,z:x+y+z

In [28]:
result(1,2,3)

6

**MINI CHALLENGE #3:**
- **Repeat mini challenge #2 (Write a code that takes in two inputs from the user and calculates the total) using lambda expressions instead**

In [29]:
x=int(input('Number of share:'))
y=int(input('Price :'))

Total=lambda x,y:x*y

print('total {}'.format(Total(x,y)))

Number of share:5
Price :500
total 2500

# 4. MAP

In [30]:
# The map() function takes in a function and a list.
# map() performs an operation on the entire list and return the results in a new list.
# Define two lists a and b
a=[1,4,5,6,9]
b=[1,7,9,12,7]

In [31]:
# Let's define a function that adds two elements together
def add(a,b):
  return a+b

In [32]:
# You can now use map() to apply a function to the entire list and generate a new list


#map(function,input list,input list)
c=list(map(add,a,b))
c

[2, 11, 14, 18, 16]

In [33]:
# map could be used with Lambda as follows
# lambda function is an anonymous function that take any number of arguments and can only have one expression
input_list=[1,2,3,4]

out_list=list(map(lambda x:x**2,input_list))
out_list

[1, 4, 9, 16]

**MINI CHALLENGE #4:**
- **Write a function that takes an argument and return its cubic value**
- **Define a list of integers ranging from -10 to 10** 
- **Apply the function to the entire list and generate a new output list**

In [34]:
def cubic(x):
  return x**3

x=list(range(-10,11))
output=list(map(cubic,x))
output

[-1000,
 -729,
 -512,
 -343,
 -216,
 -125,
 -64,
 -27,
 -8,
 -1,
 0,
 1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000]

In [35]:
input=list(range(-10,11))
output=list(map(lambda x:x**3,input))
output

[-1000,
 -729,
 -512,
 -343,
 -216,
 -125,
 -64,
 -27,
 -8,
 -1,
 0,
 1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000]

In [36]:
input=list(range(-10,11))
output=list(map(lambda x:cubic(x),input))
output

[-1000,
 -729,
 -512,
 -343,
 -216,
 -125,
 -64,
 -27,
 -8,
 -1,
 0,
 1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000]

# 5. FILTER

In [37]:
# filter is used to create a list of elements for which a function returns "True".
prices=[105,5055,40,356,925,1443,222,62]
prices

[105, 5055, 40, 356, 925, 1443, 222, 62]

In [38]:
# return only even numbers
out=list(filter(lambda x:(x%2==0),prices))
out

[40, 356, 222, 62]

In [39]:
# Return prices that are greater than or equal 100
out=list(filter(lambda x:(x>=100),prices))
out

[105, 5055, 356, 925, 1443, 222]

In [40]:
# Return age between 200 and 250
out=list(filter(lambda x: (x>=200 and x<=250),prices))
out

[222]

**MINI CHALLENGE #5:**
- **Write a code from the user that takes in a range (upper and lower bounds) and returns a list of positive and even numbers only**

In [41]:
upper=int(input('upper:'))
lower=int(input('lower:'))

input_list=list(range(lower,upper))
output=list(filter(lambda x: (x>=0 and x%2==0),input_list))
output

TypeError: ignored

# MINI CHALLENGE SOLUTIONS

**MINI CHALLENGE #1 SOLUTION:**
- **Write a code that takes in 2 lists x = [-1 -4 -7] and y = [-3 7 4] and  calculates the absolute sum of all its elements |x+y|**

In [ ]:
x = [-1, -4, -7]
y = [-3, 7, 4]
z = abs(sum(x+y))
z

**MINI CHALLENGE #2: SOLUTION** 
- **Write a code that takes in two inputs (number of units and prices) from the user and calculate the total account balance**

In [ ]:
def total(units, price):
    amount = units * price
    return(amount)

In [ ]:
num_shares = int(input("Enter the number of shares: "))
price = int(input("Enter the price per share: "))
account_balance = total(num_shares, price)

print('Total account balance = {}'.format(account_balance))

**MINI CHALLENGE #3 SOLUTION**
- **Repeat mini challenge #2 (Write a code that takes in two inputs from the user and calculates the total) using lambda expressions instead**

In [ ]:
num_shares = int(input("Enter the number of shares: "))
price = int(input("Enter the price per share: "))

account_balance = lambda num_shares, price : num_shares * price
print('Total = {}'.format(account_balance(num_shares, price)))

**MINI CHALLENGE #4 SOLUTION:**
- **Write a function that takes an argument and return its cubic value**
- **Define a list of integers ranging from -10 to 10** 
- **Apply the function to the entire list and generate a new output list**

In [ ]:
def cubic(x):
    return (x*x*x)

numbers = range(-10, 11)
numbers_cubed = list(map(lambda x: cubic(x), numbers))
print(list(numbers))
print(numbers_cubed)

**MINI CHALLENGE #5 SOLUTION:**
- **Write a code from the user that takes in a range (upper and lower bounds) and returns a list of positive and even numbers only**

In [ ]:
min = int(input("Enter a number (lower bound) *must be negative* : "))
max = int(input("Enter a number (Upper bound:) "))

numbers = range(min, max)
even_greater_than_zero = list(filter(lambda x: (x > 0 and x%2 == 0), numbers))
print(even_greater_than_zero)